* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main__container {
    /* height: 200vh; */
    background-color: #f5f7fa;
}

.main__container h2 {
    color: #434a54;
}

.page-content
{
    position: relative;
}

.cover{

    background: #4A89DC;
    height: 250px;
    /* border-radius:20px 20px 0 0; */

}
.shadow-lg{
    border-radius:20px 20px 0 0;
    overflow: hidden;
    /* border: 2px solid; */
}

.avatar
{
    display: flex;
    justify-content: center;
}

.page-content img
{
    position: absolute;
    top: 100px;
    border: 10px solid rgba(255, 253, 253, 0.979); 
    transition:  0.5s ease-in-out;   
    /* transform: translateY(0); */
}
.page-content img:hover
{
    transform: translateY(10px);
cursor: pointer;
}

/* timeline */

.timeline {
    border-left: 2px solid #E6E9ED;
    padding: 1rem 0; }
  
  .timeline-card {
    position: relative;
    margin-left: 31px;
    border-left: 2px solid;
    margin-bottom: 2rem; }
  
  .timeline-card:last-child {
    margin-bottom: 1rem; }
  
  .timeline-card:before {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    top: 20px;
    left: -41px;
    border: 2px solid;
    z-index: 2; }
  
  .timeline-card:after {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: currentColor;
    width: 29px;
    height: 2px;
    top: 25px;
    left: -29px;
    z-index: 1; }
  
  .timeline-card-primary {
    border-left-color: #4A89DC; }
  
  .timeline-card-primary:before {
    border-color: #4A89DC; }
  
  .timeline-card-primary:after {
    background-color: #4A89DC; }
  
  .timeline-card-success {
    border-left-color: #37BC9B; }
  
  .timeline-card-success:before {
    border-color: #37BC9B; }
  
  .timeline-card-success:after {
    background-color: #37BC9B; }
  
  
  